
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Micro+5&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
    --color-foreground: #242404;
    --color-background: #441C04;
    --color-bordercolor: #643c04;
}

body {
    margin: 0;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100vh;
    min-height: 100vh;
}

* {
    font-family: 'Roboto Serif', serif;
}

button {
    border-style: double;
    border-width: 3px;
    border-radius: 4px;
    background-color: var(--color-foreground);
    color: #fff;
    padding: .4rem;
    border-color: var(--color-bordercolor);
}
button:hover {
    background-color: var(--color-bordercolor);
    cursor: pointer;
}

p {
    color: #fff;
}

@media screen and (max-height: 500px) {
    footer[class='page-footer'] {
        display: none;
    }
}
